				html a{ text-decoration: none;
                }



				.one{
					background-color: #0099bb;
					height:200px;
				}
				.two{
					background-color: #0099bb;
					height: 19%;
				}
				.middle{
					background-color:#ffffff;
					height: 1500px;
					width: 695px;
					margin-left: 145px;
                    margin-right: 145px;
				}
				.header{
				padding: 15px 15px;
				background-color: #0099ff;
				height: 28px;


				}
                #messsage{
                font-size: 10px;}
                    #pagenavi{
                    padding-left: 30px;

                    }

                .linkHead{
                background-color: #8dc3f5;
                    height: 30px;
                padding-top: 10px;

                    }
                section table{
                    margin-bottom: 500px;
                }
				.eskay{
				    width: 100%;
                    margin-bottom: 10px;
                    margin-top: 40px;
                    padding: 10px;
                    background-color: #ffffff;
				}
                .eskay img{
                    width: 150px;
                    height: 150px;
                }
                .eskay h2{
                margin-top: -45px;

                    }
                .eskay h2 a{
                    color: #ffffff;
                    }
				.banner{
				width: 100%;
				height:180px;
				background: url('../images/book.jpg');
				/*background-size: cover;*/
				background-repeat: repeat-x;
				background-size: 40% 100%;
				}
				.header .name{
				font-size: 30px;
				font-weight: 500;
				text-align: left;
				margin-top: 5px;
				margin-bottom: 5px;
				}
				.nav{
				text-align: left;
				padding-top: 10px;
				height:40px;
				position: relative;

				background-color:#0099ff; 
				}
				.nav a{

				font-size: 13px;
				border:none;
				vertical-align: middle;
				color: #ffffff;
				padding: 6px;
				background-color: #0099bb;


				}
                .nav div{
                width: 125px;
                    display: inline-block;
                    text-align: center;
                    }
				
						.nav a:hover{
				background-color: #00ffff;
				border-radius: 10px;
				padding: 10px;
				color: #0099ff;
				box-shadow: inset 0px 0px 7px #333333;
				border:medium;
				font-size: 18px;
				
				}
				
				.header .nav a:active{
					padding: 18px;
					border-radius: 18px;
					font-size: 22px;
				}

									body{


				}


				footer div{
                    padding-top: 10px;
                   margin-top: 5px;
                height: 100%;
                    background-color: #0099ff;
                    }
               footer p{
                   color: antiquewhite;
                    text-align: center;
                }

				.error{
					color: red;
				}

				.message{
					color : green;
				}